@media (max-width: 1010px) {
    .contatous {
      padding: 0;
    }
    .thumbnail{
      position: relative;
      top: 36%;
      left: -10%;
      width: max-content;
      z-index: 50;
      display: flex;
      gap: 20px;
    }
  
    .thumbnail .item{
      width: 140px;
      height: 180px;
      flex-shrink: 0;
      position: relative;
      box-shadow: 70px #000000;
    }
  }

@media (max-width: 980px) {

  .h3-planos {
    display: none;
  }

  #menuButton {
    display: flex;
    position: fixed;
    top: 50%;
    left: -14px;
    font-size: 24px;
    background-color: #0003a5;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 45%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    z-index: 2000;
  }

  .ofertas {
    display: none;
  }

  .wrapper {
    width: 100%;
    height: 94%;
    left: 50%;
    top: 1%;
    transform: translateX(-50%);
  }

  .ofertas {
    display: flex;
  }

  .side-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    z-index: 1000;
  }

  .side-menu.open {
    right: 0;
    background-color: #ffffff;
    z-index: 2000;
  }

  .button-nav {
    background-color: blue;
    border-radius: 30px;
    padding: 10px;
  }

  .button-nav:hover {
    color: #1b01ad;
    background-color: #fffb00;
  }
}

@media (max-width: 945px) {

    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: calc(100vh - 8vh);
      background: rgba(0, 0, 0, 0.486);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  
  .button-nav {
    background-color: blue;
    width: 100%;
    border-radius: 30px;
    padding: 5px;
  }
  
  .button-nav:hover {
    color: #1b01ad;
    background-color: #fffb00;
  }
  
  .centro {
    text-align: center;
  }

    .contatous {
      padding: 0px;
    }
  
    .caixa {
      right: 0%;
    }
  
    .formcaixa .row50 {
      display: flex;
      gap: 0;
      flex-direction: column;
    }
  
    .inputcaixa {
      width: 100%;
    }
  
    .contato {
      padding: 20px;
      height: 950px;
      width: 450px;
    }
  
    .info {
      width: 430px;
      height: 467px;
    }
  
    .mapa {
      min-height: 300px;
      width: 430px;
      height: 467px;
      padding: 0;
      margin-top: -12.5%;
    }
  
    .h3-planos {
      top: 59%;
      left: 42%;
    }
  
    .header {
      min-height: 170%;
    }
  
    .cards {
      margin-top: 36px;
    }
}  


@media screen and (max-width: 900px) {

    h1 {
      font-size: 3.5rem;
    }
  
    .selecionarmenu {
      right: 17%;
    }
  
    .contatos {
      height: 1900px;
    }
  
    .caixa {
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
      "form"
      "info"
      "mapa";
    }
  
    .cards {
      margin-top: 36px;
      width: 100%;
      gap: 15px;
    }
  
    .card {
      height: 250px;
      width: 220px;
    }
  
    .h3-planos {
      top: 66%;
      left: 44%;
    }
  
    .contatous {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 30px;
        height: 950px;
        width: 100%;
        top: 1%;
    }
  
    .mapa {
      height: auto;
      margin-top: 1%;
      min-height: 300px;
    }
  
    .info {
      height: auto;
      min-height: 300px;
    }
  
  }


  /* For screens smaller than 768px */
@media screen and (max-width: 768px) {
  
    h1 {
      right: 20%;
    }
  
    .wrapper button {
      top: 85%;
    }
  
    .card {
      height: 285px;
      width: 205px;
      padding: 1% 2%;
    }
  
    header label {
      font-size: 14px;
    }
  
  
    .selecionarmenu {
      right: 23%;
    }
  }


  @media (max-width: 740px) {

    .tel-bole {
      display: none;
    }

    .ofertas {
      display: none;
    }
  
    .ofertas {
      display: flex;
    }
  
    .wrapper button {
      top: 84%;
    }
  
    #tab-1:checked ~ .card-area .cards-planos .row-1 {
      margin-left: 0%;
      width: 49%;
      min-width: 200px;
      max-width: 100%;
      z-index: 2000;
    }
  
    .card-area {
      height: 100%;
    }
  
    #tab-1:checked ~ header .slider-2 {
      left: 4.2%;
    }
  
    #tab-2:checked ~ header .slider-2 {
      left: 40%;
    }
  
    #tab-3:checked ~ header .slider-2 {
      left: 75.2%;
    }
  
    #tab-4:checked ~ header .slider-2 {
      left: 92.5%;
    }
  
    .cards-planos {
      width: 50%;
    }
  
    #menuButton {
      display: flex;
      position: fixed;
      top: 50%;
      left: -14px;
      font-size: 24px;
      background-color: #0003a5;
      color: rgb(255, 255, 255);
      border: none;
      padding: 10px;
      cursor: pointer;
      border-radius: 45%;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      z-index: 2000;
    }
  
    .side-menu {
      position: fixed;
      top: 0;
      right: -100%;
      width: 90%;
      height: 100%;
      background-color: #ffffff;
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
      transition: right 0.3s ease;
      z-index: 1000;
    }
  
    .side-menu.open {
      right: 0;
      background-color: #ffffff;
      z-index: 2000;
    }
  
    .side-menu.close {
      right: -100%;
    }
  
    .header-2 {
      padding: 1px;
      background-color: #ffffff;
      border-bottom: 1px solid #ccc;
      z-index: 2000;
    }
  
    .card-area {
      padding: 0px;
    }
  
    .cards-planos .row {
      margin-bottom: 0px;
    }
  
    .features {
      list-style: none;
      padding: 0;
    }
  
    .features li {
      margin-bottom: 10px;
    }
  
    .cardbranco a {
      right: 0%;
      position: relative;
    }
  
    .select-menu {
      width: 166px;
      max-height: 30px;
      cursor: pointer;
      position: absolute;
      right: 29%;
    }
  
    .select-menu a {
      font-size: 11px;
      text-decoration: none;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      padding: 0;
      margin: 0;
    }
  
    div span {
      font-size: 13px;
      font-weight: 600;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  
    .redesocial {
      gap: 1%;
      display: flex;
    }
  
    .service h1 {
      top: 0%;
      right: 0%;
    }
  
    header label {
      padding: 0 10px;
    }
  
    body {
      overflow-x: hidden;
    }
  
    .nav-list {
      top: 8vh;
      right: 0;
      width: 50vw;
      height: calc(70vh - 8vh);
    }
  
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
  
    .nav-list.active {
      transform: translateX(0);
    }
  
    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
  
    .mobile-menu.active .line1 {
      transform: rotate(-45deg) translate(-8px, 8px);
    }
  
    .mobile-menu.active .line2 {
      opacity: 0;
    }
  
    .mobile-menu.active .line3 {
      transform: rotate(45deg) translate(-5px, -7px);
    }
  
    .button-nav {
      background-color: blue;
      border-radius: 30px;
      padding: 10px;
      display: flex;
    }
  
    .button-nav:hover {
      color: #1b01ad;
      background-color: #fffb00;
    }
  
    .centro {
      text-align: center;
    }
  
    #tab-1:checked ~ header .slider-2 {
      left: 0.5%;
      width: 25%;
      transform: translateX(1%);
    }
  
    #tab-2:checked ~ header .slider-2 {
      left: 38.5%;
      width: 25%;
      transform: translateX(-55%);
    }
  
    #tab-3:checked ~ header .slider-2 {
      left: 77%;
      width: 25%;
      transform: translateX(-115%);
    }
  
    #tab-4:checked ~ header .slider-2 {
      left: 100%;
      width: 23%;
      transform: translateX(-105%);
    }
  
    footer {
      bottom: -12%;
    }
    
    .thumbnail {
      gap: 10px;
    }

    .thumbnail .item{
      width: 120px;
      height: 160px;
      flex-shrink: 0;
      position: relative;
      box-shadow: 70px #000000;
    }

  }


  @media only screen and (max-width: 635px) {

    .oplista{
      width: 35%;
    }

    .oplista.active {
      height: 150px;
      text-decoration: none;
      z-index: 1001;
      width: 35%;
    }

    body {
      background-size: 500px; 
    }

    .tel-bole {
      display: none;
    }

    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .selecionarmenu {
      width: 200px;
      max-height: 30px;
      cursor: pointer;
      right: 27%;
    }
  
    span {
      font-size: 13px;
      font-weight: 600;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  
    .selecionar {
      width: 200px;
    }
  
    .selecionarmenu a {
      font-size: 11px;
      text-decoration: none;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      padding: 0;
      margin: 0;
    }
  
    .redesocial {
      gap: 5px;
    }
  
    nav {
      top: 3.9%;
    }
  
    .slider .list .item .content {
      padding-right: 0;
    }
  
    .slider .list .item .content .titulo {
      font-size: 50px;
    }
  
    header label {
      font-size: 11px;
    }
  
    .wrapper header {
      border-radius: 3cm;
    }
  
    .row .price-details {
      padding-bottom: 15px;
    }
  
    .price-details .price::before {
      left: -20px;
      top: 10px;
      font-size: 12px;
    }
  
    .price-details .price::after {
      right: -25px;
      bottom: 10px;
      font-size: 10px;
    }
  
    .price-details p {
      font-size: 18px;
    }
  
    .price-details .price {
      font-size: 40px;
    }
  
    .row .features li {
      font-size: 15px;
    }
  
    .wrapper button {
      height: 40px;
      font-size: 18px;
      margin-top: 10%;
    }
  
    #tab-1:checked ~ .card-area .cards-planos .row-1 {
      margin-left: -0%;
      width: 49%;
      min-width: 280px;
      max-width: 100%;
    }
  
    .logo-img {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    footer {
      bottom: -14%;
    }

    .nav-list {
      width: 60vw;
      height: 1110%;
    }
  
  }

  @media (max-width: 430px) {

    .card p {
      margin: 10px 0;
    }

    .card i {
      color: aqua;
      margin-top: 7px;
      margin-bottom: 7px;
      font-size: 35px;
    }

    .card {
      width: 180px;
    }

    .contato {
      padding: 20px;
      width: 390px
    }

    .centro {
      margin-bottom: 10%;
      font-size: 16px;
    }

    .wrapper {
      border: none;
    }

    .features li span {
      font-size: 15px;
    }

    .side-menu {
      width: 85%;
    }

    h3

    .h3-planos {
      display: none;
    }

    .oplista{
      width: 180px;
    }

    .oplista.active {
      width: 180px;
      height: 150px;
    }

    .thumbnail .item {
      width: 80px;
      height: 110px;
    }

  }

  @media (max-width: 388px) {

    .redesocial {
      gap: 0px;
    }

    .cardbranco {
      gap: 0px;
    }

    .selecionarmenu {
      max-width: 200px;
     }

    .contato {
      padding: 10px;
      width: 370px
    }

    .cards {
      grid-template-columns: repeat(1, 1fr);
    }

    .card {
      height: 280px;
      width: 300px;
    }

    .footer-section {
      flex: 1;
      padding: 0;
    }

  }
